<a href="https://colab.research.google.com/github/ManishaLokasani/Manisha_INFO5731_Spring2023/blob/main/In_class_exercise_03_02282023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The third In-class-exercise (2/28/2023, 40 points in total)

The purpose of this exercise is to understand text representation.

Question 1 (10 points): Describe an interesting text classification or text mining task and explain what kind of features might be useful for you to build the machine learning model. List your features and explain why these features might be helpful. You need to list at least five different types of features.

In [ ]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):

'''
Please write you answer here:

 online shopping where we can find better deals and can save our time, here i am searching for a watch where i can get a  better watch and with best price so,
 that i am choosing flipkart.com where i can find the  a lot of branded watches and  and also discounts the watches .here i need to collect the title of the watch,
 url, ratings , discount price  and actual price .

  All these can be find by using the  machine learning techniques , and also  collecting the data which is similar to my interest  and the discount they have been provided 

  The features  i have been extracting for this task is 
  1)Title of the watch 
  2)Brand
  3)ratings 
  4)discount price
  5)actual price  
  6)discount off






'''

Question 2 (10 points): Write python code to extract these features you discussed above. You can collect a few sample text data for the feature extraction.

In [ ]:
# You code here (Please add comments in the code):

import requests
from bs4 import BeautifulSoup
import re
import time
import pandas as pd

pages = int(input("Enter num of pages you want to process: "))

flipkart_content = []
for i in range(pages):
  url = f"https://www.flipkart.com/search?q=women+watches+&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page={i}"
  headers = {
      'User-Agent': ('Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/110.0.0.0 Safari/537.36')
      }
  flipkart_data = requests.get(url, headers=headers)
  soup = BeautifulSoup(flipkart_data.content, "html.parser")
  base_url = "https://www.flipkart.com"
  product_data= soup.findAll("div" , attrs={"class": "_1AtVbE col-12-12"})
  products_title = soup.findAll("a", attrs={"class": "IRpwTa"})
  product_brand = soup.findAll("div", attrs={"class": "_2WkVRV"})
  product_original_price = soup.findAll("div", attrs={"class": "_30jeq3"})
  product_discount_price = soup.findAll("div", attrs={"class": "_3I9_wc"})
  product_discount_off = soup.findAll("div", attrs={"class":"_3Ay6Sb"})
  #product_ratings =soup.findAll("div", attrs={"class": "_3LWZlK _3uSWvT"})
  products_url = soup.findAll("a", attrs={"class": "_2UzuFa"})
  product_ratings = []
  for url in products_url:
    data = requests.get(base_url + url.get("href"), headers=headers)
    sp = BeautifulSoup(data.content, "html.parser")
    product_ratings.append(sp.find("div", attrs={"class": "_3LWZlK _3uSWvT"}).text)
  #title, brand, original_price, discount_price, discount_off,ratings=[],[],[],[],[],[]
  for x,y,z,a,b,c in zip(products_title, product_brand, product_original_price, product_discount_price, product_discount_off,product_ratings):
    flipkart_content.append([x.text, y.text, z.text, a.text , b.text,c])
  time.sleep(1)
  print(f"Processed {i} pages")
df = pd.DataFrame(flipkart_content, columns=["Title", "brand", "original_price", "discount_price", "discountoff" ,"ratings"])
df.head()

Enter num of pages you want to process: 1
Processed 0 pages

,Title,brand,original_price,discount_price,discountoff,ratings
0,Analog Watch - For Women,VAN HEUSEN,"₹1,199","₹2,999",60% off,4.5
1,Analog Watch - For Women,VAN HEUSEN,"₹1,299","₹2,999",56% off,4.5
2,Analog Watch - For Women,SONATA,₹551,₹649,15% off,4.2
3,Analog Watch - For Women,havelock,₹383,"₹2,399",84% off,4.1
4,NEW WHITE DIMOND DIAL PRINTED WITH TWO BLUE BR...,BRAIN WATCH,₹199,₹999,80% off,4.1

In [ ]:
df.shape

(40, 6)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Title           40 non-null     object
 1   brand           40 non-null     object
 2   original_price  40 non-null     object
 3   discount_price  40 non-null     object
 4   discountoff     40 non-null     object
 5   ratings         40 non-null     object
dtypes: object(6)
memory usage: 2.0+ KB

In [ ]:
df['original_price'] = df['original_price'].str.replace(',', '').str[1:]
df['discount_price'] = df['discount_price'].str.replace(',', '').str[1:]
df['discountoff'] = df['discountoff'].str.replace("%","")
for x in range(len(df)):
  df.loc[x, "discountoff"] = df.loc[x, "discountoff"].split()[0].strip()

df.head()

,Title,brand,original_price,discount_price,discountoff,ratings
0,Analog Watch - For Women,VAN HEUSEN,1199,2999,60,4.5
1,Analog Watch - For Women,VAN HEUSEN,1299,2999,56,4.5
2,Analog Watch - For Women,SONATA,551,649,15,4.2
3,Analog Watch - For Women,havelock,383,2399,84,4.1
4,NEW WHITE DIMOND DIAL PRINTED WITH TWO BLUE BR...,BRAIN WATCH,199,999,80,4.1

In [ ]:
df['original_price'] = df['original_price'].astype(int)
df['discount_price'] = df['discount_price'].astype(int)
df['discountoff'] = df['discountoff'].astype(int)
df['ratings'] = df['ratings'].astype(float)

df.head()

,Title,brand,original_price,discount_price,discountoff,ratings
0,Analog Watch - For Women,VAN HEUSEN,1199,2999,60,4.5
1,Analog Watch - For Women,VAN HEUSEN,1299,2999,56,4.5
2,Analog Watch - For Women,SONATA,551,649,15,4.2
3,Analog Watch - For Women,havelock,383,2399,84,4.1
4,NEW WHITE DIMOND DIAL PRINTED WITH TWO BLUE BR...,BRAIN WATCH,199,999,80,4.1

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Title           40 non-null     object
 1   brand           40 non-null     object
 2   original_price  40 non-null     int64
 3   discount_price  40 non-null     int64
 4   discountoff     40 non-null     int64
 5   ratings         40 non-null     float64
dtypes: float64(1), int64(3), object(2)
memory usage: 2.0+ KB

In [ ]:
df['ratings'] = df['ratings'].astype(int)
df.head()

,Title,brand,original_price,discount_price,discountoff,ratings
0,Analog Watch - For Women,VAN HEUSEN,1199,2999,60,4
1,Analog Watch - For Women,VAN HEUSEN,1299,2999,56,4
2,Analog Watch - For Women,SONATA,551,649,15,4
3,Analog Watch - For Women,havelock,383,2399,84,4
4,NEW WHITE DIMOND DIAL PRINTED WITH TWO BLUE BR...,BRAIN WATCH,199,999,80,4

Question 3 (10 points): Use any of the feature selection methods mentioned in this paper "Deng, X., Li, Y., Weng, J., & Zhang, J. (2019). Feature selection for text classification: A review. Multimedia Tools & Applications, 78(3)." Select the most important features you extracted above, rank the features based on their importance in the descending order.

In [ ]:
# You code here (Please add comments in the code):

from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression
import numpy as np


selector = SelectKBest(f_regression, k=2)
x=df[['original_price', 'discountoff']].to_numpy()
y=df['ratings']
selector.fit(x, y)
print('score', selector.scores_)
print('Selected indices', selector.get_support(True))

score [1.16859198 5.36701524]
Selected indices [0 1]

Question 4 (10 points): Write python code to rank the text based on text similarity. Based on the text data you used for question 2, design a query to match the most relevant docments. Please use the BERT model to represent both your query and the text data, then calculate the cosine similarity between the query and each text in your data. Rank the similary with descending order.

In [ ]:
# You code here (Please add comments in the code):