<a href="https://colab.research.google.com/github/ManishaLokasani/Manisha_INFO5731_Spring2023/blob/main/In_class_exercise_01_01242023_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/24/2023, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [6]:
# write your answer here
len("iam Manisha Lokasani")

20

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [78]:
# write your answer here
str1="google.com"
dict1={}
for x in str1:
   dict1[x]=dict1.get(x,0)+1
print(dict(sorted(dict1.items(),key=lambda x:x[1],reverse=True)))

{'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [34]:
# write your answer here

lst=[]
n=int(input("enter number of elements:"))
for i in range(n):
  v = int(input("Enter: "))
  lst.append(v)
print(sum(lst))

enter number of elements:4
Enter: 5
Enter: 6
Enter: -4
Enter: 1
8

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [38]:
# write your answer here
test_string='restart'
print("sample Sring:"+str(test_string))
# initializing i
i='$'
#replacing string using replace() operator
res=test_string[0] + test_string[1:].replace(test_string[0], i)
print("Expected Result:"+str(res))

sample Sring:restart
Expected Result:resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [56]:
# write your answer here
a,b=1,2
s=eval("3.14*((1+a/b)**3)")
print(s)

10.5975

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [5]:
# write your answer here

dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [48]:
# write your answer here
item = 16
tuple1=(1,9,25,48,16)
item  in tuple1

True

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [64]:
# write your answer here

a=set([1,2,45,3,9])
print("the maximum and minimum values in a set :" ,max(a),min(a))

the maximum and minimum values in a set : 45 1

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [29]:
# write your answer here

import random 
student_list =  ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
random.shuffle(student_list)
a=[]
x=len(student_list)//6
print(x)
print(len(student_list))
for i in range(0,len(student_list),x):
  if (i+x)<len(student_list):
    a.append(student_list[i:i+x])
  else:
    a.append(student_list[i:])
l = a[6:]
a=a[:6]

for j in range(len(a)):
  for k in range(len(l)):
    for m in range(len(l[k])):
      if len(a[j])<=5 and l[k][m]!=-1:
        a[j].append(l[k][m])
        l[k][m]=-1
print(a)

5
30
[['sk1313', 'nv0234', 'dr0609', 'sk1390', 'sm1640'], ['kg0470', 'ja0964', 'sa1198', 'vb0218', 'ms1500'], ['fh0141', 'sk1458', 'kg0569', 'jl1252', 'ak0934'], ['vm0377', 'sb1357', 'ak0956', 'sc1229', 'sm1907'], ['nm0618', 'sg1297', 'aos0040', 'hy0232', 'gn0108'], ['bg0320', 'sk1386', 'pr0353', 'av0659', 'ds0814']]

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [68]:
# write your answer here
a=[2,5,8,9,5,12,9]
dict1={}
for i in a:
  dict1[i]=dict1.get(i,0)+1
print(dict1)
for key,value in dict1.items():
  if value >1:
    print(key)

{2: 1, 5: 2, 8: 1, 9: 2, 12: 1}
5
9

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [72]:
# write your answer here

from datetime import date, timedelta

def all_sundays(year):
# January 1st of the given year
       dt = date(year, 1, 1)
       a=[]
# First Sunday of the given year       
       dt += timedelta(days = 6 - dt.weekday())  
       while dt.year == year:
          a.append(dt)
          dt += timedelta(days = 7)
       return a
          
b = (all_sundays(2023))

for x in b :
  print(x)

2023-01-01
2023-01-08
2023-01-15
2023-01-22
2023-01-29
2023-02-05
2023-02-12
2023-02-19
2023-02-26
2023-03-05
2023-03-12
2023-03-19
2023-03-26
2023-04-02
2023-04-09
2023-04-16
2023-04-23
2023-04-30
2023-05-07
2023-05-14
2023-05-21
2023-05-28
2023-06-04
2023-06-11
2023-06-18
2023-06-25
2023-07-02
2023-07-09
2023-07-16
2023-07-23
2023-07-30
2023-08-06
2023-08-13
2023-08-20
2023-08-27
2023-09-03
2023-09-10
2023-09-17
2023-09-24
2023-10-01
2023-10-08
2023-10-15
2023-10-22
2023-10-29
2023-11-05
2023-11-12
2023-11-19
2023-11-26
2023-12-03
2023-12-10
2023-12-17
2023-12-24
2023-12-31