<a href="https://colab.research.google.com/github/ManishaLokasani/Manisha_INFO5731_Spring2023/blob/main/In_class_exercise_03_02282023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The third In-class-exercise (2/28/2023, 40 points in total)

The purpose of this exercise is to understand text representation.

Question 1 (10 points): Describe an interesting text classification or text mining task and explain what kind of features might be useful for you to build the machine learning model. List your features and explain why these features might be helpful. You need to list at least five different types of features.

In [ ]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):

'''
Please write you answer here:

 online shopping where we can find better deals and can save our time, here i am searching for a watch where i can get a  better watch and with best price so,
 that i am choosing flipkart.com where i can find the  a lot of branded watches and  and also discounts the watches .here i need to collect the title of the watch,
 url, ratings , discount price  and actual price .

  All these can be find by using the  machine learning techniques , and also  collecting the data which is similar to my interest  and the discount they have been provided 

  The features  i have been extracting for this task is 
  1)Title of the watch 
  2)Brand
  3)ratings 
  4)discount price
  5)actual price  
  6)discount off






'''

Question 2 (10 points): Write python code to extract these features you discussed above. You can collect a few sample text data for the feature extraction.

In [ ]:
# You code here (Please add comments in the code):

import requests
from bs4 import BeautifulSoup
import re
import time
import pandas as pd

pages = int(input("Enter num of pages you want to process: "))

flipkart_content = []
for i in range(pages):
  url = f"https://www.flipkart.com/search?q=women+watches+&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page={i}"
  headers = {
      'User-Agent': ('Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/110.0.0.0 Safari/537.36')
      }
  flipkart_data = requests.get(url, headers=headers)
  soup = BeautifulSoup(flipkart_data.content, "html.parser")
  base_url = "https://www.flipkart.com"
  product_data= soup.findAll("div" , attrs={"class": "_1AtVbE col-12-12"})
  products_title = soup.findAll("a", attrs={"class": "IRpwTa"})
  product_brand = soup.findAll("div", attrs={"class": "_2WkVRV"})
  product_original_price = soup.findAll("div", attrs={"class": "_30jeq3"})
  product_discount_price = soup.findAll("div", attrs={"class": "_3I9_wc"})
  product_discount_off = soup.findAll("div", attrs={"class":"_3Ay6Sb"})
  #product_ratings =soup.findAll("div", attrs={"class": "_3LWZlK _3uSWvT"})
  products_url = soup.findAll("a", attrs={"class": "_2UzuFa"})
  product_ratings = []
  for url in products_url:
    data = requests.get(base_url + url.get("href"), headers=headers)
    sp = BeautifulSoup(data.content, "html.parser")
    product_ratings.append(sp.find("div", attrs={"class": "_3LWZlK _3uSWvT"}).text)
  #title, brand, original_price, discount_price, discount_off,ratings=[],[],[],[],[],[]
  for x,y,z,a,b,c in zip(products_title, product_brand, product_original_price, product_discount_price, product_discount_off,product_ratings):
    flipkart_content.append([x.text, y.text, z.text, a.text , b.text,c])
  time.sleep(1)
  print(f"Processed {i} pages")
df = pd.DataFrame(flipkart_content, columns=["Title", "brand", "original_price", "discount_price", "discountoff" ,"ratings"])
df.head()

Enter num of pages you want to process: 1
Processed 0 pages

,Title,brand,original_price,discount_price,discountoff,ratings
0,Analog Watch - For Women,VAN HEUSEN,"₹1,199","₹2,999",60% off,4.5
1,Analog Watch - For Women,VAN HEUSEN,"₹1,299","₹2,999",56% off,4.5
2,Analog Watch - For Women,SONATA,₹551,₹649,15% off,4.2
3,Analog Watch - For Women,havelock,₹383,"₹2,399",84% off,4.1
4,NEW WHITE DIMOND DIAL PRINTED WITH TWO BLUE BR...,BRAIN WATCH,₹199,₹999,80% off,4.1

In [ ]:
df.shape

(40, 6)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Title           40 non-null     object
 1   brand           40 non-null     object
 2   original_price  40 non-null     object
 3   discount_price  40 non-null     object
 4   discountoff     40 non-null     object
 5   ratings         40 non-null     object
dtypes: object(6)
memory usage: 2.0+ KB

In [ ]:
df['original_price'] = df['original_price'].str.replace(',', '').str[1:]
df['discount_price'] = df['discount_price'].str.replace(',', '').str[1:]
df['discountoff'] = df['discountoff'].str.replace("%","")
for x in range(len(df)):
  df.loc[x, "discountoff"] = df.loc[x, "discountoff"].split()[0].strip()

df.head()

,Title,brand,original_price,discount_price,discountoff,ratings
0,Analog Watch - For Women,VAN HEUSEN,1199,2999,60,4.5
1,Analog Watch - For Women,VAN HEUSEN,1299,2999,56,4.5
2,Analog Watch - For Women,SONATA,551,649,15,4.2
3,Analog Watch - For Women,havelock,383,2399,84,4.1
4,NEW WHITE DIMOND DIAL PRINTED WITH TWO BLUE BR...,BRAIN WATCH,199,999,80,4.1

In [ ]:
df['original_price'] = df['original_price'].astype(int)
df['discount_price'] = df['discount_price'].astype(int)
df['discountoff'] = df['discountoff'].astype(int)
df['ratings'] = df['ratings'].astype(float)

df.head()

,Title,brand,original_price,discount_price,discountoff,ratings
0,Analog Watch - For Women,VAN HEUSEN,1199,2999,60,4.5
1,Analog Watch - For Women,VAN HEUSEN,1299,2999,56,4.5
2,Analog Watch - For Women,SONATA,551,649,15,4.2
3,Analog Watch - For Women,havelock,383,2399,84,4.1
4,NEW WHITE DIMOND DIAL PRINTED WITH TWO BLUE BR...,BRAIN WATCH,199,999,80,4.1

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Title           40 non-null     object
 1   brand           40 non-null     object
 2   original_price  40 non-null     int64
 3   discount_price  40 non-null     int64
 4   discountoff     40 non-null     int64
 5   ratings         40 non-null     float64
dtypes: float64(1), int64(3), object(2)
memory usage: 2.0+ KB

In [ ]:
df['ratings'] = df['ratings'].astype(int)
df.head()

,Title,brand,original_price,discount_price,discountoff,ratings
0,Analog Watch - For Women,VAN HEUSEN,1199,2999,60,4
1,Analog Watch - For Women,VAN HEUSEN,1299,2999,56,4
2,Analog Watch - For Women,SONATA,551,649,15,4
3,Analog Watch - For Women,havelock,383,2399,84,4
4,NEW WHITE DIMOND DIAL PRINTED WITH TWO BLUE BR...,BRAIN WATCH,199,999,80,4

Question 3 (10 points): Use any of the feature selection methods mentioned in this paper "Deng, X., Li, Y., Weng, J., & Zhang, J. (2019). Feature selection for text classification: A review. Multimedia Tools & Applications, 78(3)." Select the most important features you extracted above, rank the features based on their importance in the descending order.

In [ ]:
# You code here (Please add comments in the code):

from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression
import numpy as np


selector = SelectKBest(f_regression, k=2)
x=df[['original_price', 'discountoff']].to_numpy()
y=df['ratings']
selector.fit(x, y)
print('score', selector.scores_)
print('Selected indices', selector.get_support(True))

score [1.16859198 5.36701524]
Selected indices [0 1]

Question 4 (10 points): Write python code to rank the text based on text similarity. Based on the text data you used for question 2, design a query to match the most relevant docments. Please use the BERT model to represent both your query and the text data, then calculate the cosine similarity between the query and each text in your data. Rank the similary with descending order.

In [86]:
pip install transformers

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting transformers
  Downloading transformers-4.26.1-py3-none-any.whl (6.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.3/6.3 MB 41.4 MB/s eta 0:00:00
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.9/dist-packages (from transformers) (6.0)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.9/dist-packages (from transformers) (1.22.4)
Collecting tokenizers!=0.11.3,<0.14,>=0.11.1
  Downloading tokenizers-0.13.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (7.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.6/7.6 MB 60.7 MB/s eta 0:00:00
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from transformers) (2.25.1)
Requirement already satisfied: filelock in /usr/local/lib/python3.9/dist-packages (from transformers) (3.9.0)
Collecting huggingface-hub<1.0,>=0.11.0
  Downloading huggingface_hub-0.13.1-py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.2/199.2 KB 16.1 MB/s eta 0:00:00
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.9/dist-packages (from transformers) (4.65.0)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.9/dist-packages (from transformers) (2022.6.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from transformers) (23.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.9/dist-packages (from huggingface-hub<1.0,>=0.11.0->transformers) (4.5.0)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.9/dist-packages (from requests->transformers) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->transformers) (1.26.14)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->transformers) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->transformers) (2022.12.7)
Installing collected packages: tokenizers, huggingface-hub, transformers
Successfully installed huggingface-hub-0.13.1 tokenizers-0.13.2 transformers-4.26.1

In [88]:
from transformers import AutoTokenizer, AutoModel
import torch
from sklearn.metrics.pairwise import cosine_similarity

# Load a pre-trained BERT model and tokenizer
tokenizer = AutoTokenizer.from_pretrained("bert-base-uncased")
model = AutoModel.from_pretrained("bert-base-uncased")

# Text data
text_data = list(df['Title'])

# Query
query = "Best watches"

# Preprocess the text data and query
text_data_tokens = tokenizer.batch_encode_plus(text_data,
                                               padding=True,
                                               truncation=True,
                                               max_length=128,
                                               return_tensors="pt")
# tokenizing the query
query_tokens = tokenizer.encode_plus(query,
                                     padding=True,
                                     truncation=True,
                                     max_length=128,
                                     return_tensors="pt")

# Generate embeddings for text data and query
text_data_outputs = model(**text_data_tokens)
text_data_embeddings = text_data_outputs.last_hidden_state.mean(dim=1)

query_output = model(**query_tokens)
query_embedding = query_output.last_hidden_state.mean(dim=1)

# Calculate cosine similarity between query and text data
similarity_scores = cosine_similarity(query_embedding.detach().numpy(),
                                       text_data_embeddings.detach().numpy())

# Rank the similarity scores in descending order
ranking = similarity_scores.argsort()[0][::-1]

# Print the ranking and the most relevant documents
print("Ranking: ", ranking)
print("Most relevant documents: ", [text_data[i] for i in ranking])

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertModel: ['cls.predictions.transform.dense.weight', 'cls.predictions.decoder.weight', 'cls.predictions.bias', 'cls.predictions.transform.dense.bias', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.transform.LayerNorm.bias', 'cls.seq_relationship.weight', 'cls.seq_relationship.bias']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

Ranking:  [37 24 32 18  6  9 17 16 14 12 10 39  8 38  5  3  2  1  7  0 20 25 33 30
 26 28 23 29 34 27 31 13 21 22 36 35 15  4 11 19]
Most relevant documents:  ['Trendies Analog Watch  - For Women', "Girl's Analog Watch  - For Women", 'KARLI Analog Watch  - For Women', 'Izzy Analog Watch  - For Women', 'New Stylish & Attractive Collection For Girls Analog Wa...', 'Analog Watch  - For Women', 'Analog Watch  - For Women', 'Analog Watch  - For Women', 'Analog Watch  - For Women', 'Analog Watch  - For Women', 'Analog Watch  - For Women', 'Analog Watch  - For Women', 'Analog Watch  - For Women', 'Analog Watch  - For Women', 'Analog Watch  - For Women', 'Analog Watch  - For Women', 'Analog Watch  - For Women', 'Analog Watch  - For Women', 'Analog Watch  - For Women', 'Analog Watch  - For Women', 'Analog Watch  - For Women', 'Analog Watch  - For Women', 'Analog Watch  - For Women', 'Analog Watch  - For Women', 'Analog Watch  - For Women', 'Analog Watch  - For Women', 'Analog Watch  - For Women', 'FK Exclusive Analog Watch  - For Women', 'FK Exclusive Analog Watch  - For Women', 'RoseGold Analog Watch  - For Women', 'RoseGold Analog Watch  - For Women', 'SPLASH 3.0 Analog Watch  - For Women', 'SPLASH 3.0 Analog Watch  - For Women', 'SPLASH 3.0 Analog Watch  - For Women', 'SPLASH 3.0 Analog Watch  - For Women', 'Black Analog Watch  - For Women', 'Green Dial Silver Bracelet Analog Watch  - For Women', 'NEW WHITE DIMOND DIAL PRINTED WITH TWO BLUE BRACLET COM...', 'Modish Diamond Studded Black Dial Elegant Stainless Ste...', 'Stylish Butterfly Print Dial Sleek Stainless Steel Brac...']